sudo: required
language: generic
services:
  - docker

before_install:
  - docker build -t sambit24795/react-test -f ./client/Dockerfile.dev ./client

script:
  - docker run -e CI=true sambit24795/react-test npm test

after_success:
  - docker build -t sambit24795/multi-client ./client
  - docker build -t sambit24795/multi-nginx ./nginx
  - docker build -t sambit24795/multi-server ./server
  - docker build -t sambit24795/multi-worker ./worker
  # Login to docker CLI
  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_ID" --password-stdin
  # push those images to docker hub
  - docker push sambit24795/multi-client
  - docker push sambit24795/multi-nginx
  - docker push sambit24795/multi-server
  - docker push sambit24795/multi-worker

deploy:
  provider: elasticbeanstalk
  rerion: ap-south-1
  app: multi-docker
  env: MultiDocker-env
  bucket_name: elasticbeanstalk-ap-south-1-841357881706
  bucket_path: docker_multi
  on:
    branch: master
  access_key_id: $AWS_ACCESS_KEY
  secret_access_key: $AWS_SECRET_KEY
